@charset "utf-8";


/*  
*   SECTION(3)
*/

.section.model {
  background-color: #ffeaea;

  .token-container {
    overflow: hidden;
    padding-top: 180px;
    padding-bottom: 90px;
    margin: 0 auto;
    border-bottom: 1px solid #f2c9c9;
  }

  .bg-token {
    position: relative;
    width: 1014px;
    height: 280px;
    margin: 0 auto;
    background-image: url(#{$path-image}bg-token.png);
    background-repeat: no-repeat;
    background-position: 0% 100%;
    background-size: 1014px 280px;

    // & + hr {
    //   display: block;
    //   margin: 100px auto 90px;
    //   width: 100%;
    //   height: 1px;
    //   background-color: #f2c9c9;
    // }

    & > p {
      visibility: hidden;
      @include text-hidden;
    }
  }


  .grid {
    @include flexbox;
    @include justify-content(space-between);
    margin-top: 90px;
    width: 1014px;
    height: auto;
  }


  .section-title {
     height: 52px;
     margin-right: 120px;

    .section-title-main {
      width: 222px;
      height: 52px;
      margin-top: 8px;
      @include text-hidden;
      background-size: 100%;
      background-repeat: no-repeat;
      background-image: url(#{$path-image}title-token.png);
    }

    .section-title-sub {
      display: none;
    }

  }//end of .section-title


  .section-description {
    //@include flexbox;
    //@include flex-direction(column);
    max-width: 820px;
    -moz-column-count: 2;
    -webkit-column-count: 2;
    column-count: 2;

    p {
      width: 320px;
      margin-top: 36px;
      margin-left: 22px;
      color: #000;  
      font-size: 15px;
      line-height: 1.9;
      font-weight: 500;
      word-break: keep-all;

      &:first-child {
        margin-top: 0;
      }

      &:last-child {
        margin-top: 35px;
      }
    }
  }

}