@charset "utf-8";


/*  
*   SECTION(2)
*/

.section.network {
  position: relative;
  background-color: $bgc-sec-network;
  background-image: url(#{$path-image}bg-network.png);

  .grid {
    @include flexbox;
  }

  .container-left {
    position: relative;

    .section-title {
      z-index: 1;
      position: absolute;
      top: 50%;
      left: 12px;
      transform: translateY(-50%);
      margin-top: 20px;

      .section-title-main {
        width: 246px;
        height: 120px;
        margin-bottom: 48px;
        @include text-hidden;
        background-size: 100%;
        background-repeat: no-repeat;
        background-image: url(#{$path-image}title-network.png);
      }

      .section-title-sub {
        font-size: 19px;
        line-height: 1.7;
      }

    }//end of .section-title

    .section-title-bg {
      position: absolute;
      top: 50%;
      left: 0;
      width: 407px;
      height: 407px;
      transform: translateY(-50%);
      margin-top: -50px;
      background-repeat: no-repeat;
      background-size: 100%;
      background-image: url(#{$path-image}deco-network.png);
    }

  }//end of .container-left

  .container-right {
    position: relative;
    z-index: 2;

    .section-description {
      @include flexbox;
      @include flex-direction(column);
      @include justify-content(center);
      height: 100%;
      padding-left: 90px;

      p {
        max-width: 480px;
        margin-top: 30px;
        line-height: 1.65;
        word-break: keep-all;
        color: $color-grayWhite;

        &:first-child {
          margin-top: 0;
        }
      }
    }
    
  }

  .bg-network {
    pointer-events: none;
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
    background-color: rgba(0,0,0,0.1);
  }

  .deco-line-1 {
    // display: none;
    position: absolute;
    top: 0;
    left: 50%;
    width: 447px;
    height: 436px;
    margin-left: -378px;
    background-size: 100%;
    background-image: url(#{$path-image}deco-line-network.png);
  }

  .deco-line-2 {
    // display: none;
    position: absolute;
    bottom: 100px;
    left: 50%;
    width: 447px;
    height: 436px;
    margin-left: -840px;
    background-position: 50% 0;
    background-size: 100%;
    background-image: url(#{$path-image}deco-line-network-2.png);
  }
  
  
  
}