@charset "utf-8";


/*  
*   SECTION(5)
*/
.section.roadmap {
  background-color: #f6f6f6;
  background-position: 50% 50%;
  background-size: initial;
  background-image: url(#{$path-image}bg-roadmap.png);

  .grid {
    position: relative;
  }

  .section-title {
    position: absolute;
    top: 15vh;
    left: 0;

    .section-title-main {
      width: 230px;
      height: 91px;
      @include text-hidden;
      background-size: 100%;
      background-repeat: no-repeat;
      background-image: url(#{$path-image}title-roadmap.png);
    }

    .section-title-sub {
      margin-top: 26px;
      font-size: 19px;
      color: #000;
      font-weight: 600;
    }
    
  }//end of .section-title


  .section-contents {

    .section-contents-bg {
      display: none;
      position: absolute;
      top: 50%;
      left: 50%;
      width: 232px;
      height: 232px;
      margin-top: -77px;
      margin-left: -116px;
      background-position: 50% 50%;
      background-size: 100%;
      background-repeat: no-repeat;
      background-image: url(#{$path-image}deco-roadmap.png);
    }

    .roadmap-goal {
      position: absolute;

      &.goal-2018 {
        top: 132px;
        left: 50%;
        margin-left: -15px;

        .goal-year {
          background-image: url(#{$path-image}title-2018.png);
        }
      }

      &.goal-2019 {
        top: 364px;
        left: 50%;
        margin-left: 276px;

        .goal-year {
          background-image: url(#{$path-image}title-2019.png);
        }
      }

      &.goal-2020 {
        top: 670px;
        left: 50%;
        margin-left: 198px;

        .goal-year {
          background-image: url(#{$path-image}title-2020.png);
        }
      }

      .goal-year {
        //position: relative;
        display: block;
        width: 59px;
        height: 19px;
        margin-left: 40px;
        margin-bottom: 20px;
        text-indent: -9999px;
        background-size: 100%;
        background-repeat: no-repeat;

        &:before,
        &:after {
          position: absolute;
          top: 5px;
          left: 5px;
          width: 10px;
          height: 10px;
          content: '';
          border-radius: 50%;
        }

        &:before {
          transform: scale(2);
          //background-color: rgba(255, 211, 211, 0.8);
          background-color: #ffbebf;
          transition: transform .3s, opacity .3s;
          animation: circle 1.5s infinite;
        }

        &:after {
          background-color: #eb1b48;
        }
      }

      .goal {
        margin-left: 40px;
      }

      .goal-list {
        display: flex;
        margin-top: 10px;

        strong {
          margin-right: 20px;
          font-weight: 700;
          color: $black;
          vertical-align: top;
        }
        p {
          margin-top: -2px;
          color: $black;
          vertical-align: text-top;
          line-height: 1.5;
          font-weight: 500;
        }

        &:first-child {
          margin-top: 0;
        }
      }

      @for $i from 1 through 5 {
        .goal-list:nth-child(#{$i}){
          margin-left: 40px * ($i - 1);
        }
      }

    }

  }//end of .section-contents
}