@charset "utf-8";


/*  
*   SECTION(4)
*/

.section.team {
  padding-top: 160px;
  height: 920px;
  background-color: #fff;

  // ** 반응형
  @include pc-sm {
    padding-top: ($responsive-grid-pc-sm + 20);
    padding-bottom: ($responsive-grid-pc-sm - 0);
    height: auto;
    max-height: none;
  }
  @include tablet-lg {
    padding-top: ($responsive-grid-tablet + 20);
    padding-bottom: ($responsive-grid-tablet - 0);
  }
  @include tablet {
    padding-top: ($responsive-grid-tablet + 20);
    padding-bottom: ($responsive-grid-tablet + 20);
  }


  .grid {
    position: relative;
  }

  .section-title {
    //margin-top: 220px;

    .section-title-main {
      visibility: hidden;
      @include text-hidden;
      
      // ** 반응형
      @include pc-sm {
        display: none;
      }
    }

    .section-title-sub {
      color: #000;
      text-align: center;
      font-size: 24px;
      font-weight: 500;
      line-height: 1.55;
      word-break: keep-all;
      
      // ** 반응형
      @include pc-sm {
        font-size: 22px;
        line-height: 1.4;
      }
      @include tablet-lg {
        font-size: 21px;
      }
      @include tablet {
        font-size: 22px;
      }
      @include mobile {
        font-size: 19px;
      }
    }
  }//end of .section-title

  

  .category {
    @include flexbox;
    @include justify-content(center);
    margin-top: 50px;
      
    // ** 반응형
    @include pc-sm {
      margin-top: 40px;
    }
    @include tablet-lg {
      margin-top: 30px;
    }
    @include mobile-sm {
     // @include justify-content(space-between);
    }

    .category-list {
      position: relative;
      margin-left: 24px;

      @include mobile {
        margin-left: 16px;
      }

      &:before {
        position: absolute;
        top: 2px;
        left: -13px;
        display: block;
        width: 1px;
        height: 15px;
        content: '';
        background-color: #d1d1d1;

        @include mobile {
          top: 4px;
          left: -9px;
          height: 14px;
        }

        @include mobile-sm {
          top: 5px;
          height: 12px;
        }
      }

      &:first-child {
        margin-left: 0;
        &:before {
          display: none;
        }
      }

      & > span {
        color: #c2c2c2;
        font-size: 16px;
        font-weight: 500;
        letter-spacing: 0.05rem;
      
        // ** 반응형
        @include pc-sm {
          font-size: 15px;
        }
        @include tablet-lg {
          font-size: 14px;
        }
        @include tablet {
          font-size: 15px;
        }
        @include mobile {
          font-size: 11px;
        }
        @include mobile-sm {
          font-size: 10px;
        }
      }
    }
  }//end of .category

  .section-contents {

    .team {
      position: relative;
      margin-top: 30px;
      height: 550px;

      // ** 반응형
      @include pc-sm {
        margin-top: 40px;
        height: auto;
        @include flexbox;
        @include flex-wrap(wrap);
        @include justify-content(center);
      }
      @include tablet {
          margin-top: 30px;
          @include justify-content(flex-start);
          //display: block !important;
      }

      //각 팀원 프로필 사진
      $team : (
        'nassun' : 0 66.67%,
        'aaron'  : 0 0,
        'thomas' : 0 83.33%,
        'michael': 0 50%,
        'ducksoo': 0 16.67%,
        'yoonjin': 0 100%,
        'jinwoo' : 0 33.33%,
      );

      @each $name, $value in $team {
        .team-#{$name}:before {
          background-position: $value;
        }
      }

      .team-list {
        position: absolute;

        // ** 반응형
        @include pc-sm {
          position: relative;
          top: 0 !important;
          left: 0 !important;
          right: 0 !important;
          bottom: 0 !important;
          margin-left: 0 !important;
          flex-basis: 25%;
          padding-left: 6%;
          margin-top: 46px;
          box-sizing: border-box;
        }
        @include tablet-lg {
          margin-top: 50px;
          padding-left: 5.5%;
        }
        @include tablet {
          flex-basis: 50%;
          padding-left: 15%;
        }
        @include mobile {
          padding-left: 10%;
        }
        @include mobile-sm {
          padding-left: 5%;
        }
  

        &:nth-child(2) { 
          left: 110px;
        }

        &:nth-child(3) { 
          left: 340px;
        }

        &:nth-child(4) { 
          left: 50%;
          margin-left: -59px;
        }

        &:nth-child(5) { 
          right: 340px;
        }

        &:nth-child(6) {
          right: 110px;
        }

        &:nth-child(7) {
          right: 0px;
        }

        &:nth-child(1),
        &:nth-child(5) {
          top: 0;
        }

        &:nth-child(3),
        &:nth-child(5) {
          top: 130px;
        }

        &:nth-child(2),
        &:nth-child(4),
        &:nth-child(6) {
          bottom: 0;
        }

        &:before {
          display: block;
          width: 118px;
          height: 118px;
          content: '';
          background-size: 100%;
          margin-bottom: 24px;
          background-image: url(#{$path-image}pic-team.png);
          border-radius: 50%;
          box-shadow: 9px 0 60px -8px rgba(156,156,156,0.5);

          // ** 반응형
          @include pc-sm {
            width: 100px;
            height: 100px;
          }
          @include tablet-lg {
            width: 90px;
            height: 90px;
            margin-bottom: 20px;
          }
          @include tablet {
            width: 110px;
            height: 110px;
          }
          @include mobile {
            width: 100px;
            height: 100px;
          }
        }

        .list-title {
          color: #000;
          font-weight: 700;
          font-size: 16px;
          letter-spacing: 0.025rem;
          text-transform: uppercase;

          // ** 반응형
          @include pc-sm {
            font-size: 15px;
          }
          @include tablet-lg {
            font-size: 14px;
          }
          @include tablet {
            font-size: 15px;
          }
          @include mobile {
            font-size: 14px;
          }
        }

        .list-description {
          margin-top: 15px;
          color: #5f5f5f;
          font-size: 14px;
          font-weight: 500;
          line-height: 1.4;
          letter-spacing: 0.015rem;

          // ** 반응형
          @include pc-sm {
            font-size: 13px;
          }
          @include tablet-lg {
            margin-top: 10px;
            font-size: 12px;
          }
          @include tablet {
            margin-top: 15px;
            font-size: 13px;
          }
          @include mobile {
            margin-top: 10px;
            font-size: 12px;
          }
        }
      }
    }//end of .team

  }//end of .section-contents
}