@charset "utf-8";

//color
$bgc-sec-network : #e9283d;
$color-grayWhite: #fff1f1;

// z-index
$zindex-important: 500;
$zindex-fixed: 300;
$zindex-normal: 100;

// path
$path-image: '../images/';
$path-font: '../fonts/';