@charset "utf-8";

//color
$bgc-sec-network : #e9283d;
$color-grayWhite: #fff1f1;
$black: #000;

// z-index
$zindex-important: 500;
$zindex-fixed: 300;
$zindex-normal: 100;

// path
$path-image: '../images/';
$path-font: '../fonts/';


// layout
$responsive-grid-pc-sm: 100px;
$responsive-grid-tablet: 60px;

