@charset "utf-8";


/*  
*   COMMON STYLE
*/


.wrap {
    //overflow-x: hidden;
    position: relative;
    width: 100%;
    height: 100%;
}

.grid {
    width: 100%;
    height: 100%;
    max-width: 1300px;
    padding: 0 20px;
    box-sizing: border-box;
    margin: 0 auto;

    @include mobile {
      padding: 0 20px;
    }
}
label {
  position: relative;
}

.display-none {
    display: none;
}

.br-pc-sm-only {display: none;}
.br-pc-lg {display: block;}
.br-pc {display: block;} //1080px 이상~
.br-ta-lg {display: none;} //태블릿용(큼) 줄바꿈
.br-ta {display: none;} //태블릿용 줄바꿈
.br-mo {display: none;} //모바일용 줄바꿈

@include pc-sm {
    .br-pc-sm-only {display: block;}
    .br-pc-lg {display: none;}
}

@include tablet-lg {
    .br-pc {display: none;}
    .br-pc-sm-only {display: none;}
    .br-ta-lg {display: block;}
}

@include tablet {
    .br-ta-lg {display: block;}
    .br-pc-sm-only {display: none;}
    .br-ta {display: block;}

}

@include mobile {
    .br-pc-sm-only {display: none;}
    .br-ta {display: none;}
    .br-mo {display: block;}
}

::-moz-selection { 
    background-color: #8d8d8d; 
}

::selection {
    background-color: #8d8d8d;
}

.noScroll {
    height: 100%;
    overflow: hidden;

    .header {
        position: fixed;
    }
    .header-container {
        margin-right: 15px;
    }
}


.section {
    position: relative;
    width: 100%; 
    height: 1080px;
    margin: 0 auto;
    min-height: 680px;
    max-height: 1080px;
    margin: 0 auto;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;

    // ** 반응형
    @include pc-sm {
        height: 980px;
    }
    @include tablet-lg {
        height: 880px;
    }
    @include tablet {
        //height: 840px;
    }
    @include mobile {
        height: auto;
        min-height: 100%;
    }

  }


  .wrap {
    position: relative;
    height: 100%;
    margin: 0 auto;
    background-color: #000;
  }
  
  .header {
    $header-pedding: 50px;
    $header-mo-height: 50px;

    z-index: 10;
    position: absolute;
    top: 0px;
    width: 100%;
    height: 90px;
    background-color: transparent;
    transition: background-color 2ms;

    @include tablet-lg {
        position: fixed !important;
        top: 0px !important;
        height: $header-mo-height;
        background-color: rgba(0, 0, 0, 0.7);
        // background-color: gold;
    }
  
    &.sticky {
      position: fixed;
      top: -90px;
      transition: margin .5s;
      background-color: rgba(0,0,0,0.5);
    }

    .grid {
        position: relative;
        //max-width: 1400px;
        max-width: 1920px;
        width: 100%;
        padding: 0;
    }
  
    .header-logo {
      z-index: 20;
      position: absolute;
      top: 50%;
      left: $header-pedding;
      width: 172px;
      height: 40px;
      text-indent: -999px;
      transform: translateY(-50%);
      background-repeat: no-repeat;
      background-size: 100%;
      background-position: 50% 50%;
      background-image: url(#{$path-image}logo-header.png);
  
      a {
        @include block-anchor;
      }

      @include pc-md {
          left: 30px;
          width: 132px;
          height: 30px;
      }
      @include mobile {
          left: 20px;
          width: 115px;
          height: 26px;
      }
    }

    .header-bg {
        display: none;
        transition: background-color 2ms;

        @include tablet-lg {
            display: block;
            z-index: 15;
            position: relative;
            width: 100%;
            height: $header-mo-height;
        }


    }
    .header-container {
        @include flexbox;
        @include justify-content(space-between);
        position: absolute;
        top: 50%;
        right: $header-pedding;
        transform: translateY(-50%);
        // width: 910px;
        width: 920px;

        @include pc-sm {
            right: 40px;
            width: 72vw;
        }
        @include tablet-lg {
            z-index: 10;
            @include flex-direction(column);
            @include justify-content(flex-start);
            position: absolute;
            top: $header-mo-height;
            left: 0;
            right: initial;
            width: 100%;
            height: calc(100vh - 50px);
            min-height: 600px;
            padding: 0 20%;
            box-sizing: border-box;
            transform: translateY(-150%);
            transition: transform .35s;
            transition-delay: 8ms;
            background-color: #000;
        }
        @include tablet {
            min-height: 0px;
        }
        @include mobile {
            padding: 0 46px;
            top: $header-mo-height;
        }

        li {
            cursor: pointer;

            ::-moz-selection { 
                background-color: transparent !important;
            }
            
            ::selection {
                background-color: transparent !important;
            }
        }

        li > * {
            text-transform: capitalize;
            font-size: 15px;
            font-weight: 500;
            letter-spacing: 0.02rem;
            cursor: pointer;

            @include pc-sm {
                font-size: 14px;
            }
            @include tablet-lg {
                font-size: 21px;
            }
            @include tablet {
                font-size: 19px;
            }
            @include mobile {
                //font-size: 18px;
                font-size: 5vw;
            }
        }

        li:hover > * {
            color: rgba(234,34,27,1);
        }
    }
  
    .gnb {
      @include flexbox;
      @include align-items(center);

      @include tablet-lg {
        @include flex-direction(column);
        // @include justify-content(center);
       //display: block;
        margin-top: 100px;
        margin-bottom: auto;
      }

      @include mobile {
          margin-top: 10vh;
      }
      @include mobile-sm {
          margin-top: 8vh;
      }
  
      li {
        margin-left: 45px;

        @include pc-sm {
            margin-left: 32px;
        }
        @include tablet-lg {
            padding: 5px 7px;
            margin-left: 0;
            margin-top: 26px;
            width: 100%;
            text-align: center;
        }
        @include mobile {
            margin-top: 21px;
            //display: table;
        }
  
        &:first-child {
          margin-left: 0;
          margin-top: 0;
        }
      }
    }//end of .gnb

    .utils { //로그인 & 회원가입

        //visibility: hidden; //임시
        @include flexbox;
        @include align-items(center);
        

        @include tablet-lg {
            @include justify-content(center);
            // margin-bottom: 100px;
        }

        @include mobile {
            // margin-bottom: 10vh;
        }

        li {
            position: relative;
            margin-left: 50px;

            @include pc-sm {
                margin-left: 30px;
            }
            @include tablet-lg {
                margin-left: 40px;
                padding: 5px 7px;
            }

            &:before {
              position: absolute;
              top: 2px;
              left: -25px;
              display: block;
              width: 1px;
              height: 15px;
              content: '';
              background-color: #d1d1d1;

              @include pc-sm {
                  height: 13px;
                  left: -15px;
              }
              @include tablet-lg {
                 top: 7px;
                  height: 17px;
                  left: -20px;
              }
              @include mobile {
                  height: 14px;
              }
            }
      
            &:first-child {
              margin-left: 0;

              &:before {
                display: none;
              }
            }
        }
    }



    .hamburger {
        z-index: 20;
        display: none;
        position: absolute;
        top: 50%;
        right: 16px;
        width: 30px;
        height: 30px;
        margin-top: -15px;
        background: none;
        border: none;
        outline: 0;


        @include tablet-lg {
            display: block;
            right: 20px;
        }

        &:focus {
            outline: 0;
        }

        & > div {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%,-50%);

            span {
                position: relative;
                display: block;
                width: 22px;
                height: 2px;
                transition: transform .2s;
                background-color: #fff;

                &:first-child {
                    top: -5px;
                }
                &:nth-child(3) {
                    opacity: 1;
                    top: 5px;
                    //width: 10px;
                    //margin-left: 12px;
                }
            }
        }



    }//end of .hamburger
  } //end of .header


  .header.opened {
      z-index: 15;
      background-color: #000;
      transition: background-color 2ms;

      .header-bg {
        background-color: #000;
        transition: background-color 2ms;
      }

      .header-container {
        transform: translateY(0%);
        transition: transform .35s;
        transition-delay: 3ms;
      }

      .hamburger {
          div span {
              &:first-child {
                transform: rotate(-45deg);
                top: 2px;
              }
              &:nth-child(2) {
                transform: rotate(45deg);
                top: 0;
              }
              &:nth-child(3) {
                transform: translate(-12px);
                opacity: 0;
              }
          }
      }
  }
  
  




.language-container {
    position: relative;
    display: block;
    overflow: hidden;
    width: 120px;
    height: 36px;

  
    @include tablet-lg {
        margin: 38px auto 10vh;
    }
    @include mobile-sm {
        margin: 20px auto 8vh;
    }

    &:before {
      z-index: 1;
      display: block;
      position: absolute;
      top: 12px;
      right: 14px;
      font-family: serif;
      font-size: 11px;
      color: #fff;
      content: '▼';
      pointer-events:none;
    }
  
  
    select {
      width: 100%;
      height: 100%;
      padding: 7px 30px 7px 16px;
      appearance: none;
      -webkit-appearance: none;
      font-size: 14px;
      background: none;
      border: 1px solid #fff;
      outline: none;
      color: #fff;
      background-color: rgba(255,255,255,0.1);
      cursor: pointer;
      border-radius: 40px;
      transition: background-color .2s, color .2s;
      box-sizing: border-box;
  
      &:hover,
      &:active,
      &:focus,
      &:focus-within {
        color: #df263c;
        background-color: #fff;
        transition: background-color .2s, color .2s;
      }
      
  
      &:disabled {
        color: #ccc !important;
        border: 1px solid #ccc !important;
      }
    }
  
  }
  
