@charset "utf-8";


/*  
*   COMMON STYLE
*/

.wrap {
    position: relative;
    width: 100%;
    height: 100%;
}

.grid {
    width: 100%;
    height: 100%;
    max-width: 1300px;
    padding: 0 20px;
    box-sizing: border-box;
    margin: 0 auto;
    @include mobile {
      padding: 0 20px;
    }
}
label {
  position: relative;
}

.display-none {
    display: none;
}

.br-pc {display: block;} //pc용 줄바꿈
.br-ta {display: none;} //태블릿용 줄바꿈
.br-mo {display: none;} //모바일용 줄바꿈

@include tablet-lg {
    .br-pc {display: none;}
    .br-ta {display: block;}
}

@include mobile {
    .br-ta {display: none;}
    .br-mo {display: block;}
}

::-moz-selection { 
    background-color: #8d8d8d; 
}

::selection {
    background-color: #8d8d8d;
}

.noScroll {
    height: 100%;
    overflow: hidden;
}


.section {
    position: relative;
    //overflow-x: hidden;
    width: 100%; 
    //height: 100vh; //우선은 100vh. 고정값 1080으로 갈지는 나중에 확인
    height: 1080px;
    margin: 0 auto;
    min-height: 680px;
    max-height: 1080px;
    margin: 0 auto;
    //background-image: url(../images/bg-main.png);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    
    .container-left {
      flex-basis: 50%;
    }
    
    .container-right {
      flex-basis: 50%;
    }
  }

//   .item-fade {
//       opacity: 0;
//       transform: translateY(10px);
//   }

//   .reveal {
//       opacity: 1;
//       transform: translateY(0px);
//       @include fadeIn();
//   }