@charset "utf-8";


/*  
*   COMMON STYLE
*/

.wrap {
    position: relative;
    width: 100%;
    height: 100%;
}

.grid {
    width: 100%;
    height: 100%;
    max-width: 1300px;
    padding: 0 20px;
    box-sizing: border-box;
    margin: 0 auto;
    @include mobile {
      padding: 0 20px;
    }
}
label {
  position: relative;
}

.display-none {
    display: none;
}

.br-pc {display: block;} //pc용 줄바꿈
.br-ta {display: none;} //태블릿용 줄바꿈
.br-mo {display: none;} //모바일용 줄바꿈

@include tablet-lg {
    .br-pc {display: none;}
    .br-ta {display: block;}
}

@include mobile {
    .br-ta {display: none;}
    .br-mo {display: block;}
}

::-moz-selection { 
    background-color: #8d8d8d; 
}

::selection {
    background-color: #8d8d8d;
}

.noScroll {
    height: 100%;
    overflow: hidden;

    .header {
        position: fixed;
    }
    .header-container {
        margin-right: 15px;
    }
}


.section {
    position: relative;
    //overflow-x: hidden;
    width: 100%; 
    //height: 100vh; //우선은 100vh. 고정값 1080으로 갈지는 나중에 확인
    height: 1080px;
    margin: 0 auto;
    min-height: 680px;
    max-height: 1080px;
    margin: 0 auto;
    //background-image: url(../images/bg-main.png);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    
    .container-left {
      flex-basis: 50%;
    }
    
    .container-right {
      flex-basis: 50%;
    }
  }


  .wrap {
    position: relative;
    height: 100%;
    min-width: 1300px !important; /* 반응형 임시로 막음 */
    //overflow-y: auto;
    margin: 0 auto;
    background-color: #000;
  }
  
  .header {

    $header-pedding: 50px;

    z-index: 10;
    position: absolute;
    top: 0px;
    width: 100%;
    height: 90px;
    background-color: rgba(0,0,0,0.5);
  
    &.sticky {
      position: fixed;
      top: -90px;
      transition: margin .5s;
    }

    .grid {
        position: relative;
        //max-width: 1400px;
        max-width: 1920px;
        min-width: 1300px !important;  /* 반응형 임시로 막음 */
    }
  
    .header-logo {
      position: absolute;
      top: 50%;
      left: $header-pedding;
      width: 172px;
      height: 40px;
      text-indent: -999px;
      transform: translateY(-50%);
      background-repeat: no-repeat;
      background-size: 100%;
      background-position: 50% 50%;
      background-image: url(#{$path-image}logo-header.png);
  
      a {
        @include block-anchor;
      }
    }

    .header-container {
        @include flexbox;
        @include justify-content(space-between);
        position: absolute;
        top: 50%;
        right: $header-pedding;
        transform: translateY(-50%);
        width: 910px; //임시

        li {
            cursor: pointer;
        }

        li > * {
            text-transform: capitalize;
            font-size: 15px;
            font-weight: 500;
            letter-spacing: 0.02rem;
            cursor: pointer;
        }

        li:hover > * {
            
            color: rgba(234,34,27,1);
        }
    }
  
    .gnb {
      @include flexbox;
  
      li {
        margin-left: 45px;
  
        &:first-child {
          margin-left: 0;
        }
      }
    }//end of .gnb

    .utils { //로그인 & 회원가입

        visibility: hidden; //임시

        @include flexbox;

        li {
            position: relative;
            margin-left: 50px;

            &:before {
              position: absolute;
              top: 2px;
              left: -25px;
              display: block;
              width: 1px;
              height: 15px;
              content: '';
              background-color: #d1d1d1;
            }
      
            &:first-child {
              margin-left: 0;
              &:before {
                display: none;
              }
            }
        }
    }
  } //end of .header
  
  